<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: head"></head>
<body>
	<main>
    	<div class="container">
      		<section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        		<div class="container">
          			<div class="row justify-content-center">
            			<div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
              				<div class="d-flex justify-content-center py-4">
                  				<h2 class="d-none d-lg-block">Verificador de Identidad</h2>
              				</div>
              				<div class="card mb-3">
                				<div class="card-body">
                  					<div class="pt-4 pb-2">
                    					<h5 class="card-title text-center pb-0 fs-4">Validación Código OTP</h5>
                  					</div>
				  					<form th:action="@{/admin/validation}" method="POST" class="row g-3 needs-validation" id="frmValidation">                  
                    					<div class="col-12">
                        					<input type="number" placeholder="Código OTP" id="otpcode" name="otpcode" class="form-control" required>
                    					</div>
                    					<div class="col-12">
                      						<button class="btn btn-primary w-100" name="submit" type="submit"><i class="fa-solid fa-door-open"></i> Validar Código OTP</button>
                    					</div>
						                <input type="hidden" id="successMessage" th:value="${successMessage}">
						                <input type="hidden" id="errorMessage" th:value="${errorMessage}">	                    					
                  					</form>
									<form th:action="@{/admin/home}" method="GET" class="row" style="height: 50px">
										<div class="col-12">
											<button class="btn btn-secondary w-100" name="logout" type="submit"><i class="fa-solid fa-rotate-left"></i> Volver</button>
										</div>
									</form>
                  					<form th:action="@{/logout}" method="GET" class="row" style="height: 50px">
										<div class="col-12">
											<button class="btn btn-warning w-100" name="logout" type="submit"><i class="fa-solid fa-door-closed"></i> Salir</button>
										</div>
									</form>
                				</div>
              				</div>
            			</div>
          			</div>
        		</div>
      		</section>
    	</div>
  	</main>
  	<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
</body>
<script type="text/javascript">
const successMessage = $("#successMessage").val();
const errorMessage = $("#errorMessage").val();
if(successMessage){
	swal("Éxito", successMessage, "success");
}
if(errorMessage){
	swal("Error", errorMessage, "error");
}
$( "frmValidation" ).on( "submit", function( event ) {
	if($("#otpcode").val().length != 6){
		swal("Error", "Debe ingresar un seis dígitos", "error");
		return false;
	}	
	return true;	
});
</script>
</html>