<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: head"></head>
<body>
	<main>
    	<div class="container">
			<section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        		<div class="container">
          			<div class="row justify-content-center">
            			<div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
              				<div class="d-flex justify-content-center py-4">
                 	 			<h2 class="d-none d-lg-block">Verificador de Identidad</h2>
              				</div>
              				<div class="card mb-3">
                				<div class="card-body">
                  					<div class="pt-4 pb-2">
                    					<h5 class="card-title text-center pb-0 fs-4">Mensaje de Error</h5>
                  					</div>
									<div class="alert alert-danger" role="alert">
  										Un error ha ocurrido, contáctese con el administrador.
									</div>
									<form th:action="@{/login}" method="GET">
    									<button class="btn btn-warning w-100" type="submit"><i class="bi bi-house" ></i> Volver Inicio</button>
									</form>
								</div>
		  					</div>
						</div>
					</div>
				</div>
	  		</section>
		</div>
  	</main>
</body>
</html>