<head th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Verificador de Identidad</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" th:href="@{/images/favicon.png}">
  	<link rel="preconnect" href="https://fonts.gstatic.com">
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i">
  	<link rel="stylesheet" th:href="@{/plugins/bootstrap/css/bootstrap.min.css}">
  	<link rel="stylesheet" th:href="@{/plugins/fontawesome/css/all.min.css}">
	<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
	<script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/plugins/sweetalert/sweetalert.min.js}"></script>
	<script th:src="@{/js/rut.js}"></script>
</head>
