<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: head"></head>
<body>
	<main>
    	<div class="container">
      		<section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        		<div class="container">
          			<div class="row justify-content-center">
            			<div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
              				<div class="d-flex justify-content-center py-4">
                  				<h2 class="d-none d-lg-block">Verificador de Identidad</h2>
              				</div>
              				<div class="card mb-3">
                				<div class="card-body">
                  					<div class="pt-4 pb-2">
                    					<h5 class="card-title text-center pb-0 fs-4">Registrar Usuario</h5>
                  					</div>
				  					<form th:action="@{/registration}" method="POST" class="row g-3 needs-validation" id="frmRegistration">                  
                    					<div class="col-12">
					  						<input type="text" id="rut" name="rut" placeholder="RUT" class="form-control" required>
                    					</div>
                    					<div class="col-12">
                      						<input type="text" id="name" name="name" placeholder="Nombre" class="form-control" required>
                    					</div>
                    					<div class="col-12">
                        					<input type="text" id="lastName" name="lastName" placeholder="Apellido" class="form-control" required>
                      					</div>
                    					<div class="col-12">
                       						<input type="email" id="userName" name="userName" placeholder="Email" class="form-control" required>
                    					</div>
                    					<div class="col-12">
                       						<input type="password" id="password" name="password" placeholder="Password" class="form-control" required>
                    					</div>
                    					<div class="col-12">
                       						<input type="password" id="rePassword" name="rePassword" placeholder="Reingrese Password" class="form-control" required>
                    					</div>
                    					<div class="col-12">
                      						<button class="btn btn-primary w-100" name="Submit" type="Submit"><i class="fa-solid fa-plus"></i> Registrar Usuario</button>
                    					</div>
                    					<input type="hidden" id="successMessage" th:value="${successMessage}">
                    					<input type="hidden" id="errorMessage" th:value="${errorMessage}">
                  					</form>
									<form th:action="@{/login}" method="GET">
                    					<div class="col-12">
                      						<button class="btn btn-warning w-100" name="Submit" type="Submit"><i class="fa-solid fa-house"></i> Volver Inicio</button>
                    					</div>
									</form>
                				</div>
              				</div>
            			</div>
          			</div>
        		</div>
      		</section>
    	</div>
  	</main>
</body>
<script type="text/javascript">
$(function(){
	$("#rut").keyup(function(e){
		$("#rut").val(Fn.formateaRut($("#rut").val()));
	});	
});
const successMessage = $("#successMessage").val();
const errorMessage = $("#errorMessage").val();
if(successMessage){
	swal("Éxito", successMessage, "success");
}
if(errorMessage){
	swal("Error", errorMessage, "error");
}
$( "#frmRegistration" ).on( "submit", function( event ) {
	if($("#rut").val() === ""){
		swal("Error", "Debe ingresar rut", "error");
		return false;
	}	
	if(!Fn.validaRut($("#rut").val().replace(/\./g, ""))){
		swal("Error", "El rut ingresado no es válido", "error");
		return false;
	}
	if($("#password").val() != $("#rePassword").val()){
		swal("Error", "Ambas pasword deben ser iguales", "error");
		return false;
	}
	return true;	
});
</script>
</html>